## MovieLens Data Analysis-Top 100

---

In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

---

## Data Load

In [3]:
data = pd.read_csv("C:/Users/LWH/PycharmProjects/MovieLensDataAnalysis/u.data", sep='\t',
                   names=["user id", "movie id", "rating", "timestamp"], header=None)

In [4]:
data

       user id  movie id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [5]:
item = pd.read_csv("C:/Users/LWH/PycharmProjects/MovieLensDataAnalysis/u.item", sep='|',
                   names=["movie id", "movie title", "release date", "video release date", "IMDb URL",
                          "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama",
                          "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"],
                   header=None, encoding='latin1')

In [6]:
item

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
user = pd.read_csv("C:/Users/LWH/PycharmProjects/MovieLensDataAnalysis/u.user", sep='|',
                   names=["user id", "age", "gender", "occupation", "zip code"], header=None)

In [8]:
user

     user id  age gender     occupation zip code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

---

## Make a list of top 100 most popular movies

---

### A_1) highest number of ratings for all users

In [9]:
all_1 = data[["movie id", "rating"]]
all_1 = all_1["rating"].groupby(all_1["movie id"]).count()
all_1 = all_1.sort_values(ascending=False)

In [10]:
#all_1

In [11]:
all_2 = item[["movie id", "movie title"]]

In [12]:
#all_2

In [13]:
rank = pd.merge(all_2, all_1, on="movie id", how="left")
rank = rank.sort_values(by="rating", ascending= False).head(100)
rank = rank.reset_index(drop=True)

all_rank = pd.DataFrame({"All users":rank["movie title"]})
all_rank.index += 1
all_rank = all_rank.rename_axis("Rank")
all_rank

                         All users
Rank
1                 Star Wars (1977)
2                   Contact (1997)
3                     Fargo (1996)
4        Return of the Jedi (1983)
5                 Liar Liar (1997)
...                            ...
96                  Aladdin (1992)
97                     Babe (1995)
98    To Kill a Mockingbird (1962)
99                  Volcano (1997)
100          Murder at 1600 (1997)

[100 rows x 1 columns]

---

### A_2) highest number of ratings by gender

In [14]:
gender_1 = data[["user id", "movie id", "rating"]]

In [15]:
#gender_1

In [16]:
gender_2 = user[["user id", "gender"]]

In [17]:
#gender_2

In [18]:
gender_3 = pd.merge(gender_2, gender_1, on="user id", how="left")
gender_3 = gender_3.groupby(["gender", "movie id"], as_index=False)["rating"].count()

In [19]:
#gender_3

In [20]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(all_2, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False).head(100)
man = man.reset_index(drop=True)

In [21]:
#man

In [22]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(all_2, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False).head(100)
woman = woman.reset_index(drop=True)

In [23]:
#woman

In [24]:
gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
gender_rank = gender_rank.reset_index(drop=True)
gender_rank.index += 1
gender_rank = gender_rank.rename_axis("Rank")
gender_rank

                                      Male                         Female
Rank
1                         Star Wars (1977)    English Patient, The (1996)
2                             Fargo (1996)               Star Wars (1977)
3                Return of the Jedi (1983)                  Scream (1996)
4                           Contact (1997)               Liar Liar (1997)
5                         Liar Liar (1997)                 Contact (1997)
...                                    ...                            ...
96                     Dante's Peak (1997)                   Alien (1979)
97                          Volcano (1997)  Much Ado About Nothing (1993)
98                      Stand by Me (1986)              Casablanca (1942)
99      People vs. Larry Flynt, The (1996)                  Aliens (1986)
100   Star Trek IV: The Voyage Home (1986)    Seven Years in Tibet (1997)

[100 rows x 2 columns]

---

### A_3) highest number of ratings by occupation

In [25]:
occu_1 = gender_1

In [26]:
#occu_1

In [27]:
occu_2 = user[["user id", "occupation"]]

In [28]:
#occu_2

In [29]:
occu_3 = pd.merge(occu_2, occu_1, on="user id", how="left")
occu_3 = occu_3.groupby(["occupation", "movie id"], as_index=False)["rating"].count()

In [30]:
#occu_3

In [31]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(all_2, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False).head(100)
administrator = administrator.reset_index(drop=True)

In [32]:
#administrator

In [33]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(all_2, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False).head(100)
artist = artist.reset_index(drop=True)

In [34]:
#artist

In [35]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(all_2, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False).head(100)
doctor = doctor.reset_index(drop=True)

In [36]:
#doctor

In [37]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(all_2, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False).head(100)
educator = educator.reset_index(drop=True)

In [38]:
#educator

In [39]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(all_2, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False).head(100)
engineer = engineer.reset_index(drop=True)

In [40]:
#engineer

In [41]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(all_2, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False).head(100)
entertainment = entertainment.reset_index(drop=True)

In [42]:
#entertainment

In [43]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(all_2, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False).head(100)
executive = executive.reset_index(drop=True)

In [44]:
#executive

In [45]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(all_2, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False).head(100)
healthcare = healthcare.reset_index(drop=True)

In [46]:
#healthcare

In [47]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(all_2, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False).head(100)
homemaker = homemaker.reset_index(drop=True)

In [48]:
#homemaker

In [49]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(all_2, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False).head(100)
lawyer = lawyer.reset_index(drop=True)

In [50]:
#lawyer

In [51]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(all_2, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False).head(100)
librarian = librarian.reset_index(drop=True)

In [52]:
#librarian

In [53]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(all_2, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False).head(100)
marketing = marketing.reset_index(drop=True)

In [54]:
#marketing

In [55]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(all_2, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False).head(100)
none = none.reset_index(drop=True)

In [56]:
#none

In [57]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(all_2, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False).head(100)
other = other.reset_index(drop=True)

In [58]:
#other

In [59]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(all_2, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False).head(100)
programmer = programmer.reset_index(drop=True)

In [60]:
#programmer

In [61]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(all_2, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False).head(100)
retired = retired.reset_index(drop=True)

In [62]:
#retired

In [63]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(all_2, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False).head(100)
salesman = salesman.reset_index(drop=True)

In [64]:
#salesman

In [65]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(all_2, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False).head(100)
scientist = scientist.reset_index(drop=True)

In [66]:
#scientist

In [67]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(all_2, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False).head(100)
student = student.reset_index(drop=True)

In [68]:
#student

In [69]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(all_2, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False).head(100)
technician = technician.reset_index(drop=True)

In [70]:
#technician

In [71]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(all_2, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False).head(100)
writer = writer.reset_index(drop=True)

In [72]:
#writer

In [73]:
occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
occupation_rank = occupation_rank.reset_index(drop=True)
occupation_rank.index += 1
occupation_rank = occupation_rank.rename_axis("Rank")
occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,"English Patient, The (1996)",Star Wars (1977),Titanic (1997),"English Patient, The (1996)",Star Wars (1977),Contact (1997),Contact (1997),Star Wars (1977),Conspiracy Theory (1997),"Full Monty, The (1997)",...,Contact (1997),Contact (1997),Star Wars (1977),Star Wars (1977),Fargo (1996),Fargo (1996),Star Wars (1977),Scream (1996),Star Wars (1977),Fargo (1996)
2,Star Wars (1977),Return of the Jedi (1983),Air Force One (1997),Fargo (1996),Toy Story (1995),Scream (1996),Liar Liar (1997),Return of the Jedi (1983),"Saint, The (1997)","English Patient, The (1996)",...,"English Patient, The (1996)",Toy Story (1995),Air Force One (1997),Fargo (1996),Liar Liar (1997),Liar Liar (1997),Fargo (1996),Star Wars (1977),Return of the Jedi (1983),Star Wars (1977)
3,Return of the Jedi (1983),Liar Liar (1997),"English Patient, The (1996)",Star Wars (1977),Fargo (1996),L.A. Confidential (1997),Jerry Maguire (1996),Air Force One (1997),Air Force One (1997),Contact (1997),...,Air Force One (1997),Star Trek: First Contact (1996),Scream (1996),Return of the Jedi (1983),"Godfather, The (1972)","Godfather, The (1972)","English Patient, The (1996)",Return of the Jedi (1983),Fargo (1996),Scream (1996)
4,Contact (1997),Contact (1997),Fargo (1996),Contact (1997),Raiders of the Lost Ark (1981),Toy Story (1995),Star Wars (1977),Independence Day (ID4) (1996),Contact (1997),Star Wars (1977),...,Liar Liar (1997),"Rock, The (1996)","English Patient, The (1996)",Raiders of the Lost Ark (1981),Star Wars (1977),Star Wars (1977),Contact (1997),Contact (1997),Independence Day (ID4) (1996),Liar Liar (1997)
5,Air Force One (1997),Fargo (1996),L.A. Confidential (1997),"Godfather, The (1972)",Return of the Jedi (1983),Fargo (1996),Murder at 1600 (1997),Scream (1996),Murder at 1600 (1997),Liar Liar (1997),...,Star Wars (1977),Scream (1996),Liar Liar (1997),Liar Liar (1997),Jerry Maguire (1996),Jerry Maguire (1996),Return of the Jedi (1983),Liar Liar (1997),Toy Story (1995),"English Patient, The (1996)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Dr. Strangelove or: How I Learned to Stop Worr...,Lawrence of Arabia (1962),Twelve Monkeys (1995),Titanic (1997),Ransom (1996),Psycho (1960),Ben-Hur (1959),"Lion King, The (1994)",Fathers' Day (1997),"Godfather: Part II, The (1974)",...,"Philadelphia Story, The (1940)",Murder at 1600 (1997),Tin Cup (1996),Casablanca (1942),Fried Green Tomatoes (1991),Fried Green Tomatoes (1991),Glory (1989),Stand by Me (1986),"Shawshank Redemption, The (1994)","River Wild, The (1994)"
97,Fried Green Tomatoes (1991),Dances with Wolves (1990),Three Colors: Blue (1993),Cool Hand Luke (1967),Field of Dreams (1989),Leaving Las Vegas (1995),"Deer Hunter, The (1978)",Four Weddings and a Funeral (1994),Ayn Rand: A Sense of Life (1997),Stand by Me (1986),...,Mission: Impossible (1996),Ghost (1990),Volcano (1997),Gandhi (1982),Absolute Power (1997),Absolute Power (1997),Ulee's Gold (1997),L.A. Confidential (1997),"Saint, The (1997)",Natural Born Killers (1994)
98,George of the Jungle (1997),"Sound of Music, The (1965)",Paths of Glory (1957),Mighty Aphrodite (1995),Jackie Chan's First Strike (1996),Star Trek: The Wrath of Khan (1982),GoodFellas (1990),Jaws (1975),Gang Related (1997),Psycho (1960),...,Star Trek: The Wrath of Khan (1982),"Ice Storm, The (1997)",Mars Attacks! (1996),Fantasia (1940),"Silence of the Lambs, The (1991)","Silence of the Lambs, The (1991)","Hunt for Red October, The (1990)","Clockwork Orange, A (1971)",Willy Wonka and the Chocolate Factory (1971),Broken Arrow (1996)
99,"Usual Suspects, The (1995)",Apocalypse Now (1979),Trial and Error (1997),This Is Spinal Tap (1984),Gandhi (1982),Everyone Says I Love You (1996),Annie Hall (1977),Con Air (1997),In Love and War (1996),Seven (Se7en) (1995),...,"Clockwork Orange, A (1971)",Natural Born Killers (1994),"Boot, Das (1981)",Chinatown (1974),While You Were Sleeping (1995),While You Were Sleeping (1995),Volcano (1997),Volcano (1997),Raising Arizona (1987),Jackie Brown (1997)
100,Sabrina (1995),Ben-Hur (1959),Kull the Conqueror (1997),Alien (1979),Clear and Present Danger (1994),That Thing You Do! (1996),Blade Runner (1982),Dragonheart (1996),Surviving Picasso (1996),Alien (1979),...,"Boot, Das (1981)",Clueless (1995),Lone Star (1996),Star Trek III: The Search for Spock (1984),Clear and Present Danger (1994),Clear and Present Danger (1994),Mighty Aphrodite (1995),Austin Powers: International Man of Mystery (1...,"Graduate, The (1967)",Quiz Show (1994)

---

### B_1) highest average ratings for all users

In [74]:
all_1 = data[["movie id", "rating"]]
all_1 = all_1["rating"].groupby(all_1["movie id"]).mean()
all_1 = all_1.sort_values(ascending=False)

In [75]:
#all_1

In [76]:
rank = pd.merge(all_2, all_1, on="movie id", how="left")
rank = rank.sort_values(by="rating", ascending= False).head(100)
rank = rank.reset_index(drop=True)

all_rank = pd.DataFrame({"All users":rank["movie title"]})
all_rank.index += 1
all_rank = all_rank.rename_axis("Rank")
all_rank

                                              All users
Rank
1                         Great Day in Harlem, A (1994)
2                         Someone Else's America (1995)
3            Marlene Dietrich: Shadow and Light (1996)
4                        They Made Me a Criminal (1939)
5     Entertaining Angels: The Dorothy Day Story (1996)
...                                                 ...
96                          Arsenic and Old Lace (1944)
97                             Wizard of Oz, The (1939)
98                                         Glory (1989)
99               Monty Python and the Holy Grail (1974)
100                           Once Were Warriors (1994)

[100 rows x 1 columns]

---

### B_2) highest average ratings by gender

In [77]:
gender_3 = pd.merge(gender_2, gender_1, on="user id", how="left")
gender_3 = gender_3.groupby(["gender", "movie id"], as_index=False)["rating"].mean()

In [78]:
#gender_3

In [79]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(all_2, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False).head(100)
man = man.reset_index(drop=True)

In [80]:
#man

In [81]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(all_2, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False).head(100)
woman = woman.reset_index(drop=True)

In [82]:
#woman

In [83]:
gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
gender_rank = gender_rank.reset_index(drop=True)
gender_rank.index += 1
gender_rank = gender_rank.rename_axis("Rank")
gender_rank

,Male,Female
Rank,,
1,Santa with Muscles (1996),Mina Tannenbaum (1994)
2,Marlene Dietrich: Shadow and Light (1996),Foreign Correspondent (1940)
3,Love Serenade (1996),Everest (1998)
4,"Great Day in Harlem, A (1994)",Someone Else's America (1995)
5,They Made Me a Criminal (1939),Prefontaine (1997)
...,...,...
96,When We Were Kings (1996),Brassed Off (1996)
97,Mr. Smith Goes to Washington (1939),"Boot, Das (1981)"
98,Manon of the Spring (Manon des sources) (1986),In the Name of the Father (1993)
99,"Sum of Us, The (1994)",Local Hero (1983)
100,"Great Escape, The (1963)","Sweet Hereafter, The (1997)"

---

### B_3) highest average ratings by occupation

In [84]:
occu_3 = pd.merge(occu_2, occu_1, on="user id", how="left")
occu_3 = occu_3.groupby(["occupation", "movie id"], as_index=False)["rating"].mean()

In [85]:
#occu_3

In [86]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(all_2, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False).head(100)
administrator = administrator.reset_index(drop=True)

In [87]:
#administrator

In [88]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(all_2, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False).head(100)
artist = artist.reset_index(drop=True)

In [89]:
#artist

In [90]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(all_2, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False).head(100)
doctor = doctor.reset_index(drop=True)

In [91]:
#doctor

In [92]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(all_2, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False).head(100)
educator = educator.reset_index(drop=True)

In [93]:
#educator

In [94]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(all_2, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False).head(100)
engineer = engineer.reset_index(drop=True)

In [95]:
#engineer

In [96]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(all_2, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False).head(100)
entertainment = entertainment.reset_index(drop=True)

In [97]:
#entertainment

In [98]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(all_2, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False).head(100)
executive = executive.reset_index(drop=True)

In [99]:
#executive

In [100]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(all_2, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False).head(100)
healthcare = healthcare.reset_index(drop=True)

In [101]:
#healthcare

In [102]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(all_2, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False).head(100)
homemaker = homemaker.reset_index(drop=True)

In [103]:
#homemaker

In [104]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(all_2, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False).head(100)
lawyer = lawyer.reset_index(drop=True)

In [105]:
#lawyer

In [106]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(all_2, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False).head(100)
librarian = librarian.reset_index(drop=True)

In [107]:
#librarian

In [108]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(all_2, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False).head(100)
marketing = marketing.reset_index(drop=True)

In [109]:
#marketing

In [110]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(all_2, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False).head(100)
none = none.reset_index(drop=True)

In [111]:
#none

In [112]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(all_2, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False).head(100)
other = other.reset_index(drop=True)

In [113]:
#other

In [114]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(all_2, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False).head(100)
programmer = programmer.reset_index(drop=True)

In [115]:
#programmer

In [116]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(all_2, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False).head(100)
retired = retired.reset_index(drop=True)

In [117]:
#retired

In [118]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(all_2, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False).head(100)
salesman = salesman.reset_index(drop=True)

In [119]:
#salesman

In [120]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(all_2, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False).head(100)
scientist = scientist.reset_index(drop=True)

In [121]:
#scientist

In [122]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(all_2, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False).head(100)
student = student.reset_index(drop=True)

In [123]:
#student

In [124]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(all_2, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False).head(100)
technician = technician.reset_index(drop=True)

In [125]:
#technician

In [126]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(all_2, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False).head(100)
writer = writer.reset_index(drop=True)

In [127]:
#writer

In [128]:
occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
occupation_rank = occupation_rank.reset_index(drop=True)
occupation_rank.index += 1
occupation_rank = occupation_rank.rename_axis("Rank")
occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,"Boys of St. Vincent, The (1993)",Kolya (1996),I Know What You Did Last Summer (1997),For the Moment (1994),Grateful Dead (1995),Full Metal Jacket (1987),Sophie's Choice (1982),City Slickers II: The Legend of Curly's Gold (...,Everyone Says I Love You (1996),Shall We Dance? (1996),...,Heavy Metal (1981),Candyman (1992),"Letter From Death Row, A (1998)",Wallace & Gromit: The Best of Aardman Animatio...,Starship Troopers (1997),Starship Troopers (1997),Bitter Sugar (Azucar Amargo) (1996),Alphaville (1965),Gattaca (1997),Two or Three Things I Know About Her (1966)
2,Boxing Helena (1993),Enchanted April (1991),Henry V (1989),Unstrung Heroes (1995),Tom and Huck (1995),Anna Karenina (1997),Dirty Dancing (1987),Angel Baby (1995),That Thing You Do! (1996),"Killing Fields, The (1984)",...,Before Sunrise (1995),Short Cuts (1993),"Women, The (1939)",Trust (1990),Koyaanisqatsi (1983),Koyaanisqatsi (1983),"Manchurian Candidate, The (1962)","Thieves (Voleurs, Les) (1996)","Kiss Me, Guido (1997)",Meet John Doe (1941)
3,Bread and Chocolate (Pane e cioccolata) (1973),Blues Brothers 2000 (1998),Alien (1979),Madame Butterfly (1995),Halloween: The Curse of Michael Myers (1995),"Manchurian Candidate, The (1962)",Tank Girl (1995),Mary Reilly (1996),Deceiver (1997),George of the Jungle (1997),...,Anne Frank Remembered (1995),In the Line of Fire (1993),"Assignment, The (1997)",Faithful (1996),Love! Valour! Compassion! (1997),Love! Valour! Compassion! (1997),Fire Down Below (1997),Santa with Muscles (1996),"Man Without a Face, The (1993)",Twisted (1996)
4,"Blue Angel, The (Blaue Engel, Der) (1930)",Bent (1997),Heathers (1989),Pather Panchali (1955),"Umbrellas of Cherbourg, The (Parapluies de Che...",Blown Away (1994),Enchanted April (1991),Ruby in Paradise (1993),It's a Wonderful Life (1946),That Darn Cat! (1997),...,"Wrong Trousers, The (1993)",French Kiss (1995),Entertaining Angels: The Dorothy Day Story (1996),Fear (1996),"African Queen, The (1951)","African Queen, The (1951)",To Kill a Mockingbird (1962),Wild Things (1998),Ridicule (1996),Welcome To Sarajevo (1997)
5,"Trigger Effect, The (1996)","Deer Hunter, The (1978)",Burnt By the Sun (1994),"Month by the Lake, A (1995)","Little Princess, A (1995)",Snow White and the Seven Dwarfs (1937),Strictly Ballroom (1992),Mina Tannenbaum (1994),Jane Eyre (1996),Anastasia (1997),...,I.Q. (1994),Anastasia (1997),Picnic (1955),"MisÃ©rables, Les (1995)","Basketball Diaries, The (1995)","Basketball Diaries, The (1995)","Big Lebowski, The (1998)",Paradise Lost: The Child Murders at Robin Hood...,What's Love Got to Do with It (1993),Faster Pussycat! Kill! Kill! (1965)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,It's a Wonderful Life (1946),Stand by Me (1986),"Wings of the Dove, The (1997)",Three Colors: Blue (1993),Gandhi (1982),Forrest Gump (1994),"Piano, The (1993)",Bananas (1971),Kolya (1996),Arsenic and Old Lace (1944),...,"Graduate, The (1967)",Terminator 2: Judgment Day (1991),Waiting for Guffman (1996),Jean de Florette (1986),"Man Without a Face, The (1993)","Man Without a Face, The (1993)","Terminator, The (1984)","Princess Bride, The (1987)","Hunchback of Notre Dame, The (1996)","Maltese Falcon, The (1941)"
97,Fargo (1996),"Manchurian Candidate, The (1962)",Deconstructing Harry (1997),Rebecca (1940),Shallow Grave (1994),"African Queen, The (1951)",Platoon (1986),Cape Fear (1962),"Cable Guy, The (1996)",Tombstone (1993),...,Dead Poets Society (1989),Pretty Woman (1990),Wallace & Gromit: The Best of Aardman Animatio...,Much Ado About Nothing (1993),My Favorite Year (1982),My Favorite Year (1982),"Boot, Das (1981)","Bridge on the River Kwai, The (1957)",Three Colors: Red (1994),Lawrence of Arabia (1962)
98,"Professional, The (1994)",E.T. the Extra-Terrestrial (1982),"Grifters, The (1990)",Vertigo (1958),"Fish Called Wanda, A (1988)",Apt Pupil (1998),My Fair Lady (1964),Bonnie and Clyde (1967),"Crucible, The (1996)",Glengarry Glen Ross (1992),...,Forrest Gump (1994),Men in Black (1997),Touch of Evil (1958),Dr. Strangelove or: How I Learned to Stop Worr...,"Nutty Professor, The (1996)","Nutty Professor, The (1996)",Braveheart (1995),Raiders of the Lost Ark (1981),"Usual Suspects, The (1995)","39 Steps, The (1935)"
99,"Silence of the Lambs, The (1991)","Maltese Falcon, The (1941)",Apt Pupil (1998),"Shawshank Redemption, The (1994)",Babe (1995),Raising Arizona (1987),"Day the Earth Stood Still, The (1951)","Streetcar Named Desire, A (1951)",Executive Decision (1996),High Noon (1952),...,Casablanca (1942),It Could Happen to You (1994),Paradise Lost: The Child Murders at Robin Hood...,Strictly Ballroom (1992),"Third Man, The (1949)","Third Man, The (1949)",Star Trek: First Contact (1996),Shine (1996),Some Kind of Wonderful (1987),Notorious (1946)
100,As Good As It Gets (1997),"Full Monty, The (1997)",As Good As It Gets (1997),"African Queen, The (1951)",Pulp Fiction (1994),Fried Green Tomatoes (1991),"Great Escape, The (1963)","Deer Hunter, The (1978)",Rosewood (1997),Cinema Paradiso (1988),...,L.A. Confidential (1997),Full Metal Jacket (1987),Eat Drink Man Woman (1994),"Wizard of Oz, The (1939)","First Wives Club, The (1996)","First Wives Club, The (1996)",My Fair Lady (1964),"Wrong Trousers, The (1993)",Lone Star (1996),"Mrs. Brown (Her Majesty, Mrs. Brown) (1997)"

---